/* /* h2{
    color:rgb(4, 74, 4);
    background-color: aqua;

} */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700;1,900&display=swap');
body{
    font-family: roboto;
    font-weight: 500; 
}
h1{
    color: rgb(70, 10, 126);
} */ 
h1{
    color: aqua;

}
p{
    color: rgb(131, 174, 29);
}