body{
    font-family: Arial, Helvetica, sans-serif;
    color: #444;   
}
h1,h2{
    /* width: 500px auto;
    height: 100px; */
    display: inline;
}
a{
    border: 2px solid #227;
    padding: 50px;
    display: block;
    margin: 50px 10px;

}
h1,h2{
    border: 4px solid #227;
}
img{
    border: 4px solid rgb(210, 232, 37);
    height: 300px;
    padding: 10px;
    margin: 3px auto;
}

/* a{
    border: 2px solid rgb(51, 229, 38);
    margin:50px ;
    padding: 50px;
} */
 
a{
    border:2px solid black;
    display: inline-block;
    margin: 20px;
    padding: 20px auto;
    width: 150px;
}



