hr{
    width: 500px;
    margin-left: 0;
    border: 0.5px solid black;
}

.box1{
    box-sizing: border-box;
    width:500px ;
    background-color: aquamarine;
    border: 10px solid rgb(29, 134, 102);
    padding: 50px;
    margin-bottom: 15px;
}
.box2{
    box-sizing: content-box;
    width:500px ;
    background-color: aquamarine;
    border: 10px solid rgb(29, 134, 102);
    padding: 50px;

}